.login{
    width: 100%;
    height: 750px;
    display: flex;
    flex-direction: row;
    background-color: black;
}
section{
    width: 1220px;
    height: 700px;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    background-color: white;
}
.form-container{
    width: 610px;
    height: 700px;
    padding: 20px;
}
form input{
    border-radius: 10px;
    border: 1px solid gray;
    width: 500px;
    height: 40px;
}

.img-container{
    width: 610px;
    height: 700px;
    background-image: url(bg.png);
}
.form-container form{
    display: flex;
    flex-direction: column;
    width: 500px;
}
.Password{
    margin-top: 20px;
}
.Password label{
    margin-top: -15px;
}
.Password span{
    display: flex;
    justify-content: end;
    margin-top: -18px;
    padding: 2px;
}
.one{
    display: flex;
    font-size: 12px;
    gap: 10px;
}
.checkbox{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.checkbox label{
    margin-top: 20px;
    width: 500px;
}
.form-container h6{
    margin-top: 40px;
    font-size: 15px;

}
.form-container button{
    width: 150px;
    height: 45px;
    border-radius: 30px;
    border: none;
    outline: none;
    padding: 5px;
    color: white;
    margin-top: 30px;
    background: rgb(141, 139, 139);
}
.form-container p{
    margin-top: 20px;
    
}
@media screen and (max-width:600px) {
    .login{
        width: 300px;
        height: 1300px;
        display: flex;
        flex-direction: column;
        background-color: black;
    }
    section{
        width: 280px;
        height:1200px;
        margin: auto;
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        background-color: white;
        align-items: center;
        justify-content: center;
        justify-items: center;
    }
    .form-container{
        width: 200px;
        height: 700px;
        padding: 0px;
    }
    form h3{
        font-size: 20px;
    }
    form p{
        font-size: 10px;
    }
    form input{
        border-radius: 10px;
        border: 1px solid gray;
        width: 200px;
        height: 40px;
    }
    
    .img-container{
        width: 300px;
        height: 600px;
        background-image: url(bg.png);
        margin-top:px;
        background-position: 50% 50%;
    }
    .form-container form{
        display: flex;
        flex-direction: column;
        width: 200px;
    }
    .Password{
        margin-top: 20px;
    }
    .Password label{
        margin-top: -15px;
    }
    .Password span{
        display: flex;
        justify-content: end;
        margin-top: -18px;
        padding: 2px;
    }
    .one{
        display: flex;
        font-size: 5px;
        gap: 5px;
        margin-top: 10px;
    }
    .checkbox{
        display: flex;
        flex-direction: row;
        gap: 6px;
    }
    .checkbox label{
        margin-top: 12px;
        width: 300px;
        font-size: 10px;
    }
    .form-container h6{
        margin-top: 4px;
        font-size: 8px !important;
        width: 200px;
    
    }
    .form-container button{
        width: 150px;
        height: 45px;
        border-radius: 30px;
        border: none;
        outline: none;
        padding: 5px;
        color: white;
        margin-top: 30px;
        background: rgb(141, 139, 139);
    }
    .form-container p{
        margin-top: 20px;
        
    }
}